.text-pkm-container{
   
    
    font-family: "colatera";
    width: 80%;
   
    
    
}


.legendary-mythical{
    background-color: rgb(224, 43, 43);
    width: 80px;
    color: #000000;
    border-radius: 5px;
    margin-top: 5px;
    color: #f1f1f1;
}